/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.login-label {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 50px;
    font-family: "Lato", "Roboto", sans-serif;
}

.sendButton {
    display: block;
    font-size: 16pt;
}


/** Most GWT widgets already have a style name defined */

.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}


/** Set ids using widget.getElement().setId("idOfElement") */

#closeButton {
    margin: 15px 6px 6px;
}

.color-red {
    color: red;
}

.color-blue {
    color: #2F4254;
    font-size: 2rem;
    font-family: sans-serif;
}

.color-green {
    color: green;
}

.color-gray {
    color: gray;
}

.color-lightgray {
    color: lightgray;
}

.prop-panel {
    height: 90%;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: var(--prop-panel-background);
    box-shadow: 0 2px 2px 2px rgb(60 64 67 / 30%), 0 4px 6px 3px rgb(60 64 67 / 15%);
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
}

.rounded-panel {
    height: 270px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #e3ebed;
    box-shadow: 0 2px 2px 2px rgb(60 64 67 / 30%), 0 4px 6px 3px rgb(60 64 67 / 15%);
    display: grid;
    grid-auto-rows: minimax(50px, auto);
}

.rounded-panel:hover {
    transform: scale(1.02);
    /*	transform: translate3d(2px,-4px,0px);
  	-moz-transform: translate3d(2px,-4px,0px);
	*/
    transition-duration: 0.5s;
    box-shadow: 0 4px 4px 4px rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}

.selection {
    /*padding: 20px 20px 20px 20px;*/
    border-radius: 12px;
    background-color: var(--orange-color);
    display: block;
}


/*
.selection:hover {
  	transform: translate3d(2px,-12px,0px);
  	-moz-transform: translate3d(2px,-12px,0px);
	transition-duration: 0.5s;
}*/

.hmc-image {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.status-label {
    font-family: "Lato", Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.success {
    background-color: #04AA6D;
}

.info {
    background-color: #2196F3;
}

.warning {
    background-color: #ff9800;
}

.danger {
    background-color: #f44336;
}

.other {
    background-color: #e7e7e7;
    color: black;
}

.simple {
    color: var(--label-color);
}

.center {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    padding: 100px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 8px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.grid {
    display: flex;
    border-spacing: 10px;
    flex-direction: column;
    width: 100%;
    height: 150px;
    align-items: center;
    vertical-align: middle;
}

.gwt-CellTable {
    background-color: black;
}

.gwt-DialogBox {
    border-radius: 12px;
}

.gwt-TabLayoutPanel {
    margin-top: 4px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white !important;
    /*padding: 10px;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
    /*font-size: 11pt;*/
    color: var(--label-color);
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner:hover {
    color: black;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    color: black !important;
    background-color: var(--tab-color) !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    /*border: none;*/
    /*margin: 8px;*/
    /*padding:8px;*/
}


/* FORM FIELD */

:root {
    --tab-color: #92C1F0;
    --orange-color: #F26622;
    --label-color: #616876;
    --input-color: #99A3BA;
    --input-focused-color: #AD7FA8;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --prop-panel-background: #FCF6EC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
    --ok-cancel-button: #D26868;
}

.form-field {
    display: inline-table;
    /*width: 100%;*/
    height: 25px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: all 0s ease 0s;
    transform: none;
    position: relative
}

.form-field:focus {
    outline: none;
    color: var(--input-focused-color);
    border-color: var(--input-border-focus);
    box-shadow: 0px 0px 10px rgb(39, 94, 254, 0.5);
}

.form-field:placeholder {
    color: var(--input-placeholder);
}


/* GOOGLE BUTTON*/

.button-google {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    /*display: inline-flex;*/
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-google:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-google:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-google:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-google:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-google:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-google:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-google:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-google:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


/* GREEN BUTTON*/

.button-green {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /*font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;*/
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-green:hover {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    transform: translateY(-2px);
    -moz-transform: translateY(-2px);
}

.button-green:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-green:focus {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.myfirst {
    -webkit-animation: myfirst 2s infinite;
    /* Chrome, Safari, Opera */
    -moz-animation: myfirst 2s infinite;
    animation: myfirst 2s infinite;
    border-width: 2px;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes myfirst {
    from {
        border-color: var(--input-border);
    }
    to {
        border-color: #c51244;
    }
}


/* Standard syntax */

@keyframes myfirst {
    from {
        border-color: var(--input-border);
    }
    to {
        border-color: #c51244;
    }
}

.mycheckbox {
    width: 25px;
    height: 25px;
    border-style: dotted 2px;
    background-color: #555 !important;
    color: red !important;
    margin: 20px 80px;
    position: relative;
    border-radius: 100px;
}

.flat-button {
    padding: 20px;
    margin: 2px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color: white;
    transition: .5s;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    font-family: "Lato", sans-serif;
    min-width: 132px;
    min-height: 30px;
}

.flat-button:hover {
    background-color: white;
    color: var(--orange-color);
    transition: background 0.6s ease 0s;
    box-sizing: border-box;
}

.table-row {
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #e3ebed;
    display: list-item;
    width: 350px;
}

.my-title {
    position: relative;
    height: 1.5rem;
    color: var(--label-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    /*margin-top: -5rem;*/
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--orange-color);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:before {
    content: 'Редактировать';
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    content: '\00bb';
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.hp {
    margin-right: 2em;
    /*
    position: relative;
    top: 30px;
    left: 30px;*/
}

.button-edit {
    /* display: inline-block; */
    border-radius: 50%;
    background-color: var(--ok-cancel-button);
    border: 1px solid var(--ok-cancel-button);
    /* font-size: 1rem; */
    transition: all 0.3s;
    cursor: pointer;
    height: 52px;
    width: 52px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    color: #FFFFFF;
    /* margin: 5px;
    padding: 5px; */
}

.button-edit::before {
    font-family: 'Font Awesome 5 Free';
    font-size: large;
    content: '\f304';
    font-weight: bold;
    /* text-align: center; */
    /* align-content: center; */
}


/* .button-edit:hover {
    background-color: transparent;
    color: var(--orange-color);
} */

.button-ok {
    border-radius: 4px;
    background-color: var(--ok-cancel-button);
    border: none;
    color: var(--prop-panel-background);
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.button-ok:active {
    transform: scale(0.9);
}

.button-cancel {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    /* border: 2px solid var(--ok-cancel-button); */
    color: var(--ok-cancel-button);
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.button-cancel:hover {
    background-color: #D2686844;
}

.okCancelPanel {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.okCancelPanel button {
    margin-left: 15px;
}

.enum-field {
    /* display: inline-table; */
    /* height: 25px; */
    /* width: 150px;
    padding: 8px 16px;
    margin-top: 20px; */
    /* line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit; */
    border-radius: 6px;
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: all 0s ease 0s;
    font-family: "OpenSans-Regular";
}

.enum-field:disabled {
    opacity: 0.8;
}

.enum-field div {
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    font-family: "OpenSans-Regular";
}

.enum-field:focus {
    outline: none;
    color: var(--input-focused-color);
    border-color: var(--ok-cancel-button);
    box-shadow: 0px 0px 5px var(--ok-cancel-button);
}


/*
.button:hover span:before {
  content: '222';
}
*/