/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.color-red {
	color: red;
}

.color-blue {
	color: #2F4254;
	font-size: 2rem;
	font-family: sans-serif;
}

.color-green {
	color: green;
}

.color-gray {
	color: gray;
}

.color-lightgray {
	color: lightgray;
}

.rounded-panel {
	padding: 20px 20px 20px 20px;
	border-radius: 12px;
	background-color: #e3ebed;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hmc-image {
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.status-label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 0px;
	padding: 5px;
	color: #FFFFFF;
	border-radius: 10px;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.success {
	background-color: #04AA6D;
}

.info {
	background-color: #2196F3;
}

.warning {
	background-color: #ff9800;
}

.danger {
	background-color: #f44336;
}

.other {
	background-color: #e7e7e7;
	color: black;
}

.simple {
	color: var(--label-color);
}

.center {
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	padding: 100px;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 8px;
}

/* FORM FIELD */
:root {

    --label-color: #616876;
    --input-color: #99A3BA;
    --input-focused-color: #AD7FA8;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}

.form-field {
   	display: inline-table;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
  	transition: all 0s ease 0s;
	transform: none;
	position: relative
}

.form-field:focus {
        outline: none;
		color: var(--input-focused-color);
		border-color: var(--input-border-focus);
		box-shadow: 0px 0px 10px rgb(39, 94, 254, 0.5);
    }

.form-field:placeholder {
       color: var(--input-placeholder);
    }

/* CSS */
.login-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .login-button {
    padding: 0 2.6rem;
  }
}


/* GOOGLE BUTTON*/
.button-google {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-google:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-google:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-google:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-google:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-google:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-google:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-google:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-google:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* GREEN BUTTON*/
.button-green {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /*font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;*/
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-green:hover {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  transform: translateY(-2px);
  -moz-transform: translateY(-2px);
}

.button-green:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-green:focus {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
	outline: none;
}


.myfirst {
	-webkit-animation: myfirst 2s infinite; /* Chrome, Safari, Opera */
	-moz-animation: myfirst 2s infinite;	  
	animation: myfirst 2s infinite;
	border-width: 2px;
	 }

	/* Chrome, Safari, Opera */
	@-webkit-keyframes myfirst {
	    from {border-color:var(--input-border);}
	    to {border-color: #c51244;}
	 }

	/* Standard syntax */
	@keyframes myfirst {
	    from {border-color:var(--input-border);}
	    to {border-color: #c51244;}
	 } 

.custom-checkbox {
	width: 40px;
	height: 10px;
	background: #555;
	margin: 20px 80px;
	position: relative;
	border-radius: 100px;
}


