<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>appService</servlet-name>
		<servlet-class>ru.nppcrts.common.gwt.app.server.AppServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appService</servlet-name>
		<url-pattern>/hmcserver/application</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>ru.nppcrts.common.gwt.auth.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/hmcserver/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>commomdataService</servlet-name>
		<servlet-class>ru.nppcrts.common.gwt.app.server.commondata.CommonDataServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>commomdataService</servlet-name>
		<url-pattern>/hmcserver/commonData</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>HmcServer.html</welcome-file>
	</welcome-file-list>

</web-app>
